# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# 开发环境
.env
.env.local
.env.*.local

# 编辑器和IDE文件
.idea
.vscode
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 测试文件
coverage
*.test.js
*.spec.js

# 日志文件
logs
*.log

# Docker文件
Dockerfile
.dockerignore

# Git文件
.git
.gitignore

# Chrome用户数据
chrome-data/
